@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@0;1&family=Antic+Slab&display=swap');


$textFont : 'Antic Slab', serif;
$titleFont : 'Antic Slab', serif;
$baseFontSize: 62.5%;
$bgColor: #F7F6F2;
$textColor: #194350;
$titleColor: #4C4C4C;
$UIcolor:#D89216;
$white:#fff;
$black:rgba(0, 0, 0, 0.8);
$clr-red-dark: rgba(228, 109, 109, 0.9);
$clr-green-dark: hsl(125, 66%, 45%);
$clr-green-light: hsl(125, 71%, 66%);
$transition: all 0.4s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(216, 146, 22, 0.6);
$dark-shadow: 0 5px 15px rgba(216, 146, 22, 1);